{{ define "main" }}
<style>
.mdl-button { margin: 5px; } 
</style>
<div class="mdl-grid tl-container">
  <div class="mdl-cell--12-col">
    {{ $type := .Type }}
    {{ range $key, $value := .Data.Terms.ByCount }}
      {{ $name := .Name }}
      {{ $count := .Count }}
      {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
      <span class="mdl-badge mdl-badge--overlap" data-badge="{{ $count }}">
        <a href="{{ .Permalink }}" class="mdl-button mdl-button--colored
        mdl-js-button mdl-button--raised">
          {{ $name }}
        </a>
      </span>
      {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}
