.tl-container {
  max-width: {{ .Site.Params.containerMaxWidth | default "900px" | safeCSS }};
}
.tl-blog-post{
  max-width: {{ .Site.Params.containerMaxWidth | default "900px" | safeCSS }};
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.tl-header{
  background: url({{ "img/header-bg-alt.jpg" | absURL}}) no-repeat bottom;
  background-size: cover;
  height: 300px;
  position: relative;
}

.tl-nav{
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  background-color:rgba(0,0,0,0.65);
  color: white;
  text-transform: uppercase;
  padding: 0;
}


#nav a {
  color: inherit;
  font-size: x-large;
}
#nav-border {
  border-bottom: 1px solid #212529;
}
#main {
  margin-top: 1em;
  margin-bottom: 4em;
}
#home-jumbotron {
  background-color: inherit;
}
.font-125 {
  font-size: 125%;
}
.tag-btn {
  margin-bottom: 0.3em;
}
img {
  max-width: 100%;
}
