a{
    color: #00acc1;
    text-decoration: none;
    background-color: transparent;
}

a:hover{
    color: #006064;
    text-decoration: underline;
}

.tl-container {
  max-width: {{ .Site.Params.containerMaxWidth | default "900px" | safeCSS }};
}

.tl-blog-post {
  max-width: 90%;
}

.tl-toc{
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 0;
}

.tl-toc li{

}

.tl-toc ul{
  display: block;
  list-style: none;
}

.tl-header{
  background: url({{ "img/header-bg-alt.jpg" | absURL }}) no-repeat bottom;
  background-size: cover;
  height: 300px;
  position: relative;
}

.tl-header .is-compact{
  height: 50px;
}

.tl-nav{
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color:rgba(0,0,0,0.65);
  color: white;
  text-transform: uppercase;
  padding: 0;
}

.tl-blurb{
  font-size: 11pt;
}

.tl-blurb a{
  font-size: 14pt;
  font-weight: bold;
  color: black;
}

.tl-grab-text{
  font-size:24px;
}

.tl-profile-image{
  background: url({{ "img/profile.png" | absURL }}) center/cover;
  padding-top: 75%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#nav a {
  color: inherit;
  font-size: x-large;
}
#nav-border {
  border-bottom: 1px solid #212529;
}
#main {
  margin-top: 1em;
  margin-bottom: 4em;
}
#home-jumbotron {
  background-color: inherit;
}
.font-125 {
  font-size: 125%;
}
.tag-btn {
  margin-bottom: 0.3em;
}
img {
  max-width: 100%;
}
