{{ define "main" }}
<div class="mdl-grid">
  <div class ="mdl-cell mdl-cell--10-col mdl-cell--1-offset">
<p>
My name is Nursen and this is my corner of the internet where I store my
thoughts on things I like. Here you'll find my reccommendations for books and
cooking blogs along with personal anecdotes from my life and cool tidbits I
learn about biology and algorithms. Think of this as a space to explore my mind.
If you see something interesting, feel free to go off on a tangent, that's kind
of what I do best. Enjoy!
</p>
</div>
</div>
{{ end }}
