{{ define "main" }}
<div class="mdl-grid mdl-grid--no-spacing">
<div id="home-jumbotron" class="mdl-cell mdl-cell--10-col jumbotron text-center">
  <h1>{{ .Site.Title }}</h1>
  <p class="font-125">{{ .Site.Params.homeText | markdownify }}</p>
  <p class="mdl-typography--body-1">
Bear claw liquorice tiramisu chocolate macaroon brownie apple pie. Halvah marzipan chupa chups chocolate cake sesame snaps dragée lollipop. Chocolate cake marshmallow jelly-o croissant gummies gingerbread gummies apple pie caramels. Liquorice jujubes marshmallow chocolate cake I love. I love I love bear claw cookie cake oat cake marzipan. Gummies marshmallow chupa chups. Tiramisu I love chocolate bar. Lollipop jelly danish oat cake. Toffee cheesecake pie jujubes I love sweet muffin I love I love. Liquorice macaroon I love dessert pudding sweet.

Marshmallow chocolate cake chocolate pie croissant I love. I love ice cream cupcake. Cupcake sweet candy canes I love. Jelly sesame snaps jelly beans I love caramels powder candy bear claw. Cotton candy croissant topping cookie. Cheesecake sesame snaps cake lemon drops marzipan jelly-o cookie chupa chups candy. Chocolate bar icing sugar plum icing topping toffee. Cake macaroon marzipan brownie brownie. Gummies toffee chocolate bar tart dragée tart cake.

Dragée I love gummies I love tootsie roll. Soufflé cake powder biscuit. Bonbon marzipan cotton candy bear claw croissant jelly gummi bears I love oat cake. Muffin jelly brownie gummies powder lemon drops sweet roll. Jujubes cake bear claw topping. Sesame snaps lollipop jujubes I love caramels I love liquorice sweet roll chocolate cake. Macaroon icing ice cream I love. Wafer I love powder ice cream tart oat cake. Caramels icing I love chocolate jelly beans gummi bears soufflé I love. Lollipop tart sweet roll cookie.

Sweet roll sesame snaps sugar plum. Cotton candy cake brownie. Dessert marshmallow cotton candy tootsie roll bonbon powder. Candy I love topping sweet. Toffee wafer brownie marshmallow croissant carrot cake dessert. Macaroon pudding sugar plum. Fruitcake pie wafer gummi bears. Gingerbread croissant fruitcake jelly-o gummies marzipan cake. Muffin lollipop lemon drops.

Bear claw pastry I love candy. Candy sesame snaps bonbon ice cream I love chocolate cake brownie gingerbread. Gingerbread chocolate topping I love. Chocolate cake pudding powder. Chocolate bar chocolate cupcake cupcake. Brownie icing gingerbread tart pudding chocolate bar chocolate bar marzipan. Dessert jujubes lollipop muffin marzipan halvah. I love biscuit sesame snaps. Macaroon muffin wafer. I love bear claw cookie donut marshmallow gummies.

I love cheesecake powder gummi bears fruitcake lemon drops pie pie. Wafer biscuit I love cake jelly beans croissant gummi bears. Pie apple pie apple pie dragée candy canes pudding icing croissant macaroon. I love liquorice gummi bears. Jujubes biscuit cake marshmallow. Donut croissant cake jelly beans wafer. Caramels halvah cake. Halvah cotton candy gingerbread ice cream jelly beans pudding marzipan. Tootsie roll lollipop tootsie roll croissant. Tootsie roll tootsie roll croissant powder powder.

Jelly-o dessert cake. Jelly-o sugar plum caramels marzipan caramels. Fruitcake soufflé jelly-o marzipan cake. Powder tiramisu oat cake pudding. Jelly-o halvah candy cake. Gummies chocolate caramels biscuit lemon drops ice cream. Ice cream ice cream jujubes croissant bear claw candy candy canes chocolate sesame snaps. Carrot cake candy canes cake gummi bears pie I love. Chocolate cake I love fruitcake toffee dragée soufflé cake.
</p>
</div>
<div class="mdl-cell-2 col mdl-card mdl-card--border">
  {{ partial "sidebar.html" . }}
</div>
</div>

{{ end }}
